body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
nav {
  background-color: #111;
  color: white;
  padding: 20px 50px;
}
.navTop {
  display: flex;
  justify-content: space-around;
}
.logo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.logoImg{
  width: 50px;

}

.search {
  display: flex;
  align-items: center;
  background-color: grey;
  padding: 10px 20px;
  border-radius: 10px;
}
.searchInput {
  border: none;
  background-color: transparent;
}
.searchInput::placeholder {
  color: lightgray;
}
.searchIcon {
  width: 20px;
  height: 20px;
}
.limitedoffer {
  font-size: 20px;
  border-bottom: 2px solid green;
  cursor: pointer;
}
.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuItem {
  margin-right: 10px;
  cursor: pointer;
  color: lightgrey;
  position: relative;
}

.sliderImage {
  width: 44vw;
  z-index: 1;
}
.slider {
  background-image: url("../image/background.jpg");
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
}
.sliderWrapper {
  display: flex;
  width: 500vw;
  transition: transform 1s ease-in-out;
}
.menuItem::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  width: 0;
  background-color: #fff;
  transition: all 0.3s ease-in;
}
.menuItem.active {
  color: white; /* Change color or add styles to indicate active */
}
.menuItem.active::after,
.menuItem:hover::after {
  width: 100%;
}

.sliderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: calc(100vh - 171px);
}
.slideBg {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--bg-color);
}
.sliderTitle {
  position: absolute;
  top: 10%;
  right: 10%;
  color: white;
  font-size: 55px;
  font-weight: 900;
  z-index: 1;
}
.sliderPrice {
  position: absolute;
  top: 10%;
  left: 10%;
  color: white;
  font-size: 55px;
  font-weight: 300;
  border: 2px solid grey;
  z-index: 1;
  color: var(--bg-color);
}
.buyButton {
  position: absolute;
  top: 50%;
  right: 10%;
  color: white;
  font-size: 30px;
  font-weight: 900;
  border: 2px solid grey;
  background-color: #111;
  z-index: 1;
  cursor: pointer;
}
.buyButton:hover {
  background-color: white;
  color: black;
}

.features {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
}
.feature {
  display: flex;
  flex-direction: column;
  width: 200px;
}
.feature i {
  font-size: 40px;
  cursor: pointer;
}

.featureImg {
  width: 50px;
  height: 50px;
}
.featureTitle {
  font-size: 21px;
  font-weight: bold;
}
.featuredDisc {
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 100;
}
.nav-icon {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}
.nav-icon i {
  color: #fff;
}
.nav-icon li {
  position: relative;
}
.nav-icon ul {
  position: absolute;
  top: 25px;
  left: 50%;
  background-color: #fff;
  min-width: 100px;
  padding: 10px;
  border-radius: 5px;
  list-style: none;
  margin-bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
  transform: translate(-50%, -10px);
}
.nav-icon li:hover ul {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0px);
}
.nav-icon ul li {
  margin: 5px 0;
  text-wrap: nowrap;
}
.nav-icon ul .text {
  color: #000;
  text-decoration: none;
}
.product {
  height: 100vh;
  background-color: whitesmoke;
  position: relative;
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
}
.productImg {
  width: 50%;
}
.productDetail {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 50px;
}
.productTitle {
  font-size: 75px;
  font-weight: 900;
}

.productDisc {
  font-size: 24px;
  color: grey;
  font-weight: 100;
}
.sizes {
  margin: 20px 0 20px;
  display: flex;
}
.size {
  padding: 5px 20px;
  border: 1px solid black;
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
}
.size:hover {
  background-color: black;
  color: #fff;
}
.productButton {
  float: right;
  padding: 10px 20px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-weight: 600;
  margin-right: 10px;
}
.productButton:hover {
  background-color: white;
  color: black;
}

footer {
  display: flex;
}

.footerLeft {
  flex: 2;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.fMenuTitle {
  font-size: 16px;
}
.fList {
  padding: 0;
  list-style: none;
}
.fListItem {
  margin-bottom: 10px;
  color: grey;
  cursor: pointer;
}

.footerRight {
  flex: 1;
  padding: 50px;
  justify-content: space-between;
}
.fInput {
  padding: 5px;
}
.fButton {
  padding: 5px;
  background-color: black;
  color: white;
}
.fIcons{
  display: flex;
}
.fIcons i {
 font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}
.copyright {
  font-weight: 300;
  font-size: 14px;
}
